include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include gromacs_py/test_files *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.ipynb
recursive-include bin *.py

recursive-include gromacs_py/gmx/template/charmm36-jul2017.ff/*
recursive-include gromacs_py/gmx/template/*mdp